{% extends 'index.html' %}

{% load static %}
{% block content %}
        <!-- Carousel -->
        <section id="carousel" class="section-1 carousel showcase">
            <div class="overflow-holder">
                <div class="container">
                    <div class="row text-center intro">
                        <div class="col-12">
                            <h2 class="super effect-static-text">Troc DIY</h2>
                            <p class="text-max-800">Our facilities have the highest reuinte to guarantee comfort and fun for your whole family. There are many places and programs to do during the weekend. Como check it out now</p>
                        </div>
                    </div>
                    <div class="swiper-container mid-slider items">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide slide-center item">
                                <div class="row card p-0 text-center">
                                    <div class="gallery">
                                        <a href="{% static 'assets/images/work-4.jpg'  %}" class="image-over">
                                            <img src="{% static 'assets/images/work-4.jpg'  %}" alt="Lorem ipsum">
                                        </a>
                                    </div>
                                    <div class="card-caption col-12 p-0">
                                        <div class="card-body">
                                            <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                        </div>
                                        <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="swiper-slide slide-center item">
                                <div class="row card p-0 text-center">
                                    <div class="gallery">
                                        <a href="{% static 'assets/images/work-5.jpg'  %}" class="image-over">
                                            <img src="{% static 'assets/images/work-5.jpg'  %}" alt="Lorem ipsum">
                                        </a>
                                    </div>
                                    <div class="card-caption col-12 p-0">
                                        <div class="card-body">
                                            <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                        </div>
                                        <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="swiper-slide slide-center item">
                                <div class="row card p-0 text-center">
                                    <div class="gallery">
                                        <a href="{% static 'assets/images/work-6.jpg'  %}" class="image-over">
                                            <img src="{% static 'assets/images/work-6.jpg'  %}" alt="Lorem ipsum">
                                        </a>
                                    </div>
                                    <div class="card-caption col-12 p-0">
                                        <div class="card-body">
                                            <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                        </div>
                                        <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="swiper-slide slide-center item">
                                <div class="row card p-0 text-center">
                                    <div class="gallery">
                                        <a href="{% static 'assets/images/work-7.jpg'  %}" class="image-over">
                                            <img src="{% static 'assets/images/work-7.jpg'  %}" alt="Lorem ipsum">
                                        </a>
                                    </div>
                                    <div class="card-caption col-12 p-0">
                                        <div class="card-body">
                                            <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                        </div>
                                        <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="swiper-slide slide-center item">
                                <div class="row card p-0 text-center">
                                    <div class="gallery">
                                        <a href="{% static 'assets/images/work-8.jpg'  %}" class="image-over">
                                            <img src="{% static 'assets/images/work-8.jpg'  %}" alt="Lorem ipsum">
                                        </a>
                                    </div>
                                    <div class="card-caption col-12 p-0">
                                        <div class="card-body">
                                            <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                        </div>
                                        <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="swiper-slide slide-center item">
                                <div class="row card p-0 text-center">
                                    <div class="gallery">
                                        <a href="{% static 'assets/images/work-9.jpg'  %}" class="image-over">
                                            <img src="{% static 'assets/images/work-9.jpg'  %}" alt="Lorem ipsum">
                                        </a>
                                    </div>
                                    <div class="card-caption col-12 p-0">
                                        <div class="card-body">
                                            <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                        </div>
                                        <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </section>
{% load static %}


{% endblock %}